#connect {
  padding: 3em 8px;
  background: #333547;
  height: calc(100vh - 8em - 60px);
  min-width: 50%;
  padding-bottom: 20px;
}

.heading {
  margin: 0 auto;
  text-align: center;
}

.heading h1 {
  font-size: 3em;
  margin-bottom: 0;
  color: palevioletred;
  text-shadow: 1px 1px 1px rgb(36, 36, 36);
  text-align: center;
}

.heading h2 {
  margin-top: .5em;
  margin-bottom: 3em;
  color: whitesmoke;
}

form {
  max-width: 700px;
  margin: 0 auto;
}

input {
  width: 100%;
  display: inline-block;
  border: none;
  color: white;
  background-color: rgb(35, 38, 54);
  padding: 10px 16px;
  font-size: 1.2em;
  line-height: 2em;
  margin-bottom: .2em;
}

::-webkit-input-placeholder {
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

textarea {
  height: 10em;
  width: 100%;
  resize: none;
  border: none;
  color: white;
  background-color: rgb(35, 38, 54);
  padding: 10px 16px;
  font-size: 1.2em;
  margin-bottom: .5em;
}

input#submit {
  width: 8em;
  float: right;
  color: white;
  background: transparent;
  border: 2px solid white;
  font-size: 1.2em;
  margin-bottom: 1em;
  transition: .5s;
}

#submit:hover {
  color: rgb(51, 53, 71);
  background: white;
  cursor: pointer;
}

label {
  color: white;
}

@media (max-width: 1080px) {
  input#submit {
    width: 100%;
  }
  #connect {
    height: 650px;
  }
}