:root {
  --form: darkgray;
  --bgg: dimgray;
  --heading: rgb(71, 71, 71);
}

#connect {
  padding: 3em 8px;
  background: var(--ghost);
  height: 38em;
  /* height: calc(100vh - 11em - 70px); */
  min-width: 50%;
  padding-bottom: 20px;
}

.heading {
  margin: 0 auto;
  text-align: center;
}

.heading h1 {
  font-size: 3em;
  margin-bottom: 0;
  color: var(--heading);
  /* text-shadow: 1px 1px 1px rgb(36, 36, 36); */
  text-align: center;
}

.heading h2 {
  margin-top: .5em;
  margin-bottom: 3em;
  color: var(--bgg);
}

form {
  max-width: 700px;
  margin: 0 auto;
}

input {
  width: 100%;
  display: inline-block;
  border: none;
  color: var(--heading);
  background-color: var(--ghost);
  padding: 10px 16px;
  font-size: 1em;
  line-height: 1.5em;
  margin-bottom: .5em;
  border: 2px solid var(--heading)
}

::-webkit-input-placeholder {
  color: var(--heading);
}

textarea:focus, input:focus{
  outline: none;
}

textarea {
  height: 10em;
  width: 100%;
  font-family: 'Roboto';
  resize: none;
  border: none;
  color: var(--heading);
  background-color: var(--ghost);
  padding: 10px 16px;
  font-size: 1em;
  margin-bottom: .5em;
  border: 2px solid var(--heading)
}

input#submit {
  width: 8em;
  float: right;
  color: var(--heading);
  background: transparent;
  border: 2px solid var(--heading);
  font-size: 1em;
  margin-bottom: 1em;
  transition: .5s;
  text-align: center;
}

#submit:hover {
  color: var(--ghost);
  background: var(--bgg);
  cursor: pointer;
}

label {
  color: white;
}

@media (max-width: 1080px) {
  input#submit {
    width: 100%;
  }
  #connect {
    height: 650px;
  }
}