.card {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.heading {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.heading h1 {
  font-size: 2.25em;
  margin-bottom: 0;
}

.heading h3 {
  margin-top: 0;
}

form {
  text-align: center;
}

input {
  width: 80%;
  display: inline-block;
  border-style: solid;
  border: none;
  color: white;
  background-color: palevioletred;
  padding: 10px 6px;
  font-size: 1em;
  margin-bottom: 8px;
}

input[type=textarea] {
  height: 4em;
}

input#submit {
  width: 25%;
  max-width: 25%;
}

label {
  color: white;
}
