:root {
  --bg: rgb(66,66,66);
  --social: #ff8e61;
  --form: darkgray;
  --bgg: dimgray;
  --heading: rgb(71,71,71);
  --white: white;
  --ghost: #F9FAFA;
  --background: ghostwhite;
}

.stupidP {
  text-align: center;
  width: 50%;
  align-content: center;
}

body {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
}