/* --- start of background --- */

.jumbo {
  display: block;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('/dist/desk.jpg');
  background-position: center;
  background-size: cover;
}

/* --- end of background --- */

.centered {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  max-width: 85%;
}

/* --- start of button --- */

.centered a {
  display: inline-block;
}

button {
  display: block;
  background: var(--social);
  border: none;
  border-bottom: 3px solid coral;
  border-radius: 32px;
  box-shadow: 0px 8px 28px coral;
  font-size: 1em;
  min-width: 80px;
  outline-color: coral;
  padding: 1em 2em;
  transition: all 0.3s;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: whitesmoke;
  text-transform: uppercase;
}

button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 22px;
}

button:hover {
  cursor: pointer;
  color: white;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

/* --- end of button --- */
/* --- start of heading --- */

.myName {
  font-weight: bold;
  color: var(--social);
}

.jumbo-text{
  font-size: calc(42px + (58 - 42) * (100vw - 1080px)/(1920 - 1080));
  line-height: 1.2em;
  text-align: center;
  margin: 0;
}

/* --- end of heading --- */

@media (max-width: 750px) {
  .centered {
    width: 100%;
    padding: 5em 0;
    background: rgba(255, 255, 255, .9);
    border-radius: 20px;
    border-bottom: 6px solid whitesmoke;
    box-shadow: 0px 4px 6px lightgray;
  }

  .button {
    background: var(--social);
    border: none;
    border-bottom: 3px solid coral;
    border-radius: 32px;
    box-shadow: 0px 8px 28px coral;
    margin-top: 2em;
  }

  .button span {
    color: whitesmoke;
    text-transform: uppercase;
  }

  .button:hover {
    color: white;
    background: rgba(90, 90, 90, 0.3);
    border: none;
    margin-top: 2em;
  }

  .myName {
    color: var(--social);
  }

  .jumbo {
    filter: blur(3px);
    background-attachment: scroll;
  }

  .jumbo-text {
    font-size: 3em;
    font-weight: 100;
    color: black;
    line-height: 1em;
    padding: 16px;
    margin: 0;
  }

  .jumbo-text p {
    font-size: 1em;
    white-space: normal;
    margin: 0;
  }
}

/* --- typing feature --- */

@media (min-width: 750px) {
  .typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid var(--social); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto .4em auto; /* Gives that scrolling effect as the typing happens */
    animation:
      typing 2.5s steps(26, end),
      blink-caret .8s step-end infinite;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--social); }
  }
}
/* --- end of type feature --- */