.jumbo {
  width: 100%;
  height: 100vh;
  position: relative;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 60%;
}

button {
  display: block;
  margin: .2em auto;
  min-width: 80px;
  border: 2px solid indigo;
  padding: 12px 12px;
  background: transparent;
  font-size: 1em;
}

.botton:hover {
  cursor: pointer;
}

.myName {
  font-weight: bolder;
  color: indigo;
}

.jumbo-text {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin: 0 0 0.3em 0;
}

@media (max-width: 800px) {
  .button {
    color: white;
    background: rgb(236, 100, 141);
    border: none;
  }
}