.jumbo {
  width: 100%;
  height: 100vh;
  background-color: rgb(60,60,60)
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  width: 60%;
}

button {
  display: block;
  margin: .2em auto;
  min-width: 80px;
  border: 2px solid indigo;
  padding: 12px 12px;
  background: transparent;
  font-size: 1em;
}

.botton:hover {
  cursor: pointer;
}

.myName {
  font-weight: bolder;
  color: rgb(228, 146, 91);
}

.jumbo-text {
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  margin: 0 0 0.3em 0;
  font-weight: 900;
}

.words-wrapper {
  vertical-align: top;
  overflow: hidden;
}

.words-wrapper b {
  display: inline-block;
  /* position: absolute; */
  white-space: nowrap;
  visibility: hidden;
}

@media (max-width: 800px) {
  .button {
    color: white;
    background: rgb(236, 100, 141);
    border: 1px solid rgb(236, 100, 141);
    display: none;
  }

  .myName {
    color: rgb(228, 146, 91);
    font-weight: 500;
  }

  .jumbo-text {
    font-size: 3em;
    font-weight: 300;
    color: whitesmoke;
  }

  .container {
    background: rgb(60,60,60);
  }

  .container img {
    visibility: hidden;
  }
}