#heading {
  width: 50%;
  margin: 1em auto;
  font-size: 3em;
  text-align: center;
}
.profile {
  margin: 2em auto;
  text-align: center;
}
#profilepic {
  border-radius: 50%;
  height: 16em;
  align-content: center;
  margin: 1em auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}