{
  "extends": [
    "airbnb-base",
    "plugin:security/recommended",
    "eslint:recommended",
    "plugin:jest/recommended"
    ],
  "plugins": [
    "node",
    "security",
    "import"
    ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
    },
  "rules": {
    "no-console": "off",
    "strict": ["error", "global"],
    "curly": "warn",
    "semi": "warn",
    "import/prefer-default-export": 0,
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "no-await-in-loop": 1
  },
  "env": { "es6": true }
}