:root {
  --bg: rgb(66, 66, 66);
  --social: lightsalmon;
}

.footer {
  background: var(--bg);
  padding-bottom: 1em;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center h5 {
  color: white;
  margin: 0;
  text-align: center;
  letter-spacing: 2px;
  font-weight:  300;
}

.social a {
  display: inline-block;
  margin: 1em .5em;
  background: var(--social);
  line-height: 4em;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  transition: all .2s ease-in-out;
}

.social a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

a img {
  display: block;
  margin: 1em auto;
}

#cc {
  color: var(--social);
}