.footer {
  height: 10em;
  background: rgb(45, 56, 116);
}

.center {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.center h5 {
  color: white;
  margin: 0;
}

.social h3 {
  display: inline-block;
  margin: .5em .5em;
  background: rgb(250, 115, 205);
  line-height: 3em;
  width: 3em;
  height: 3em;
}