#scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* --- heading --- */
.projects {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 3em;
}

h2#projects {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4em;
}

/* --- start of horizontal scroll ---
#scroll.project {
  flex: 0 0 auto;
}

.projects.active {
  cursor: ew-resize;
}

.project:hover {
  cursor: ew-resize;
}

.project {
  padding: 2.4em;
}
--- end of horizontal scroll --- */

.slope img {
  width: 100%;
}

.project {
  margin: 3em auto;
  width: 80%;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: auto 80px;
}
.project#imgLeft {
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
  "image      bio"
  "tech-stack tech-stack"
}

.project#imgRight {
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
  "bio        image"
  "tech-stack tech-stack"
}

.project img {
  width: 100%;
}

.projectImage {
  grid-area: image;
}

.projectBio {
  grid-area: bio;
}

.techStack {
  grid-area: tech-stack;
  grid-column: span 2;
}

@media (max-width: 900px) {
  .project {
    grid-template-rows: auto auto;
    grid-template-areas:
      "image"
      "bio"
  }

  .project#imgLeft, .project#imgRight {
    grid-template-columns: 1fr;
    margin: 0 auto;
  }

  .projectImage, .projectBio{
    grid-column: span 2;
  }

  .projectBio {
    margin: auto;
    text-align: center;
  }

  .techStack {
    display: none;
  }
}