/* --- heading --- */
/* .projects {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 3em;
} */

h2#projects {
  margin: 0 auto;
  text-align: center;
  font-size: 3em;
  background: var(--white);
  padding: 1.5em 0 1em 0;
}

/* --- horizontal scroll ---
#scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}

#scroll.project {
  flex: 0 0 auto;
}

.projects.active {
  cursor: ew-resize;
}

.project:hover {
  cursor: ew-resize;
}

.project {
  padding: 2.4em;
}
--- end of horizontal scroll --- */

.slope img {
  width: 100%;
  background: var(--white);
}

/* --- row layout  --- */
.project {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-gap: 20px 5px;
  grid-template-rows: auto 80px;
}

.row .odd {
  background: var(--white);
  padding: 3em 0 8em 0;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  transition: clip-path 1s ease;
}

.row .even {
  background: var(--ghost);
  padding: 2em 0 8em 0;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  transition: clip-path 1s ease;
}

#firstRow {
  background: var(--ghost);
}

#secondRow {
  background: linear-gradient(var(--ghost), var(--white));
}

#lastRow {
  background: var(--white);
}

/* --- end of row layout --- */
/* --- prject image --- */

.project#imgLeft {
  grid-template-columns: 5fr 3fr;
  grid-template-areas:
  "image      bio"
  "tech-stack tech-stack"

}

.project#imgRight {
  grid-template-columns: 3fr 5fr;
  grid-template-areas:
  "bio        image"
  "tech-stack tech-stack";
}

.project img {
  width: 100%;
}

.projectImage {
  grid-area: image;
}

/* --- end of image --- */
/* --- project bio ---  */

.projectBio {
  grid-area: bio;
  margin: auto auto;
  max-width: 80%;
  padding-top: 1em;
  font-size: calc(16px + (20 - 16) * (100vw - 1080px)/(1000));
}

.projectBio h2 {
  margin-bottom: 2px;
}

#responsibilities {
  margin: 10px 0 1em 1px;
  text-transform: uppercase;
  color: var(--social);
  font-size: .8em;
  letter-spacing: 2px;
}

.projectBio h4 {
  margin: .5em 0 .5em 0;
  letter-spacing: 1px;
  font-size: 1.2em;
}

.projectBio p {
  margin: 0 0 8px 0;
  letter-spacing: 1px;
}

.projectBio#left {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}

.projectBio#right {
  display: flex;
  flex-direction: column;
  margin-right: 0;
}

.projectBio button {
  display: none;
  color: white;
  border: 2px solid white;
  padding: 12px;
  box-shadow: none;
  width: 100px;
  /* font-size: 1em; */
  text-transform: uppercase;
  font-weight: 300;
}

/* --- end of project bio --- */

.techStack {
  grid-area: tech-stack;
  grid-column: span 2;
  margin: 0 auto;
  padding-top: 2em;
  letter-spacing: 2px;
  font-weight: 300;
}

@media (max-width: 1080px) {
  h2#projects {
    padding: 1.5em 0 0 0;
  }

  .project {
    grid-gap: 0;
    grid-template-rows: auto auto;
    grid-template-areas:
      "image"
      "bio"
  }

  .projectBio#left, .projectBio#right {
    margin: auto;
    order: 2;
  }

  .project#imgLeft, .project#imgRight {
    grid-template-columns: 1fr;
    margin: 0 auto;
    order: 1;
  }

  .projectImage, .projectBio{
    grid-column: span 2;
    margin-bottom: 2em;
  }

  .projectBio {
    margin: auto;
    text-align: center;
    padding-top: 0;
    font-size: 1.2em;
  }

  .projectBio button {
    width: 100%;
    font-weight: 300;
  }

  .techStack, .slope {
    display: none;
  }

  h2#projects {
    background: var(--white);
  }

  .row .odd {
    background: var(--white);
    padding: 2em 0 6em 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .row .even {
    background: var(--ghost);
    padding: 2em 0 6em 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}