#scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
}
.projects {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  padding-bottom: 3em;
}
h2#projects {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4em;
}

#scroll.project {
  flex: 0 0 auto;
}

.projects.active {
  cursor: -webkit-grabbing;
}

.project {
  padding: 2.5em;
}

.slope img {
  width: 100%;
}