li {
  text-decoration: none;
  display: inline;
  margin-left: 1em;
}

a {
  color: white;
  transition: all .5s;
}

a:hover {
  color: var(--social);
}

.nav {
  top: 0;
  width: 100%;
  position: relative;
  z-index: 10;
  background: rgb(66, 66, 66);
  margin: 0;
  color: white;
  font-size: 1em;
}

.nav ul {
  padding: 1em 0;
  margin: 0;
  background: rgb(66, 66, 66);
}

.fixed-nav .nav {
  position: fixed;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
}

.fixed-nav li.logo {
  max-width: 500px;
}

a {
  text-decoration: none;
}

/* -- scrolling css --- */

@media (max-width: 324px) {
  .nav {
    display: none;
  }
}